<div style="max-width: 600px;max-height: 900px; margin: auto; padding: 24px; display: flex; flex-direction: column; gap: 24px;">
    <IgbGrid Data="_people"
             Height="350px"
             PrimaryKey="@nameof(Person.Id)"
             AutoGenerate="false">
        <IgbColumn Field="@nameof(Person.Name)" Header="氏名" Title="Title プロパティよりツールチップの内容を変更します"></IgbColumn>
        <IgbColumn Field="@nameof(Person.Age)" Header="年齢" DataType="GridColumnDataType.Number">
            <HeaderTemplate>
                <span title="HeaderTemplate の title 属性よりツールチップの内容を変更します">
                    @context.Column.Header</span>
            </HeaderTemplate>
        </IgbColumn>
        <IgbColumn Field="@nameof(Person.JobTitle)" Header="職種" HeaderTemplateScript=""></IgbColumn>
    </IgbGrid>
</div>

@code {
    public class Person
    {
        public int Id { get; set; }
        public string? Name { get; set; }
        public int Age { get; set; }
        public string? JobTitle { get; set; }
    }

    private List<Person> _people = new()
    {
        new() { Id = 1, Name = "Bob", Age = 30, JobTitle = "Developer" },
        new() { Id = 2, Name = "Alice", Age = 25, JobTitle = "Support" },
        new() { Id = 3, Name = "John", Age = 40, JobTitle = "Manager" },
        new() { Id = 4, Name = "Emily", Age = 35, JobTitle = "Marketing" },
        new() { Id = 5, Name = "David", Age = 28, JobTitle = "Sales" }
    };
}